{% extends 'base.html.twig' %}


{% block body %}

<div align="center" class="container mb-6 mt-4">
    <h1>Bienvenue sur E-Smoke</h1>


    <h3>Découvrez nos nouveautés</h3>
</div>

<div class="home-conteneur mt-4 mb-4">
    
    {% for liquid in liquids %}
        <div class="block">
            
            <img width="150" src="{{ vich_uploader_asset(liquid, 'imageFile') }}"/>
            <h5>{{ liquid.name }}</h5>
            <p>Saveur {{ liquid.flavor }}</p>
            <a href="{{ path('show_liquid', { id : liquid.id}) }}" class="btn btn-info">Voir</a>
        </div>
    
    {% endfor %}
</div>

<div class="jumbotron">
    <div class="home-conteneur">
        <div class="block"> 
            <h4>4.8/5 - AVIS CLIENTS</h4>
            <p> + De 50 000 vapoteurs satisfaits !</p>
        </div>

        <div class="block">
            <h4>LIVRAISON GRATUITE</h4>
            <p>Sans minimum d'achat</p>
        </div>

        <div class="block">
            <h4>LIVRAISON EXPRESS</h4>
            <p>Expédition le jour même avant 14h00</p>
        </div>

        <div class="block">
            <h4>PAIEMENT 100% SÉCURISÉ</h4>
            <p>CB, VISA, Paypal...</p>
        </div>
    </div>
</div>


<div class="home-conteneur mt-4">
    <div class="block">
        <img src="{{ asset('assets/img/home_1.png') }}" />
    </div>

    <div class="block">
        <img src="{{ asset('assets/img/home_2.png') }}" />
    </div>
</div>
{% endblock %}
