{% extends 'base.html.twig' %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    <div class="conteneur">
        <a href="{{ path('new_liquid') }}" class="btn btn-primary">Créer un nouveau produit</a>
        <a href="{{ path('admin_categories') }}" class="btn btn-secondary">Voir les catégories</a>
        <a href="{{ path('admin_marks') }}" class="btn btn-secondary">Voir les marques</a>
    </div>
    

    <table class="table table-striped mt-4">
        <thead>
            <tr>
                <th>Produit</th>
                <th>Saveur</th>
                <th>Catégorie</th>
                <th>Prix (€)</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            

            {% for liquid in liquids  %}
                <tr>
                    <td>{{ liquid.name }}</td>
                    <td>{{ liquid.flavor }}</td>
                    <td>{{ liquid.category.name }}</td>
                    <td width="12%">{{ liquid.price }}</td>
                    <td width="28%">
                        <a href="{{ path('edit_liquid', { id : liquid.id }) }}" class="btn btn-primary">Editer</a>  
                        <a href="{{ path('delete_liquid', { id : liquid.id }) }}" class="btn btn-danger">Supprimer</a> 
                     </td>
                </tr>

            {% endfor %}
    
        
        </tbody>
    </table>

        <div class="pagination">
            {{ knp_pagination_render(liquids) }}
        </div>

</div>
{% endblock %}
