<h3>Demande de contact </h3>

<table class="table table-striped">
    <tr>
        <td>Prénom</td>
        <td>{{ contact.firstname }}</td>
    </tr>
    <tr>
        <td>NOM</td>
        <td>{{ contact.lastname }}</td>
    </tr>
    <tr>
        <td>Téléphone</td>
        <td>{{ contact.phone }}</td>
    </tr>
    <tr>
        <td>Email</td>
        <td>{{ contact.email }}</td>
    </tr>
    <tr>
        <td>Message</td>
        <td>{{ contact.message }}</td>
    </tr>


</table>