<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}E-Smoke{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('build/app.css') }}">
    </head>
    <body>
    <style>
        h4 { font-size: 18px; }
        .home-conteneur { display:flex; flex-wrap: wrap; justify-content: space-around; }
        .conteneur { display:flex; flex-wrap: wrap; justify-content: space-between; }
        .block { padding: 15px 10px 15px 10px; }
        .block img:hover { background-color: #C1C3C1; }
    </style>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{{ path('home') }}">Accueil</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('liquids') }}">E-liquids <span class="sr-only"></span></a>
            </li>
            </ul>
            <ul class="navbar-nav ml-auto">
        
            {% if app.user %}    
            <li class="nav-item">
                <a class="nav-link" href="{{ path('getPanier', { id : app.user.id}) }}">Mon panier</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('logout') }}">Se déconnecter</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('login') }}">Se connecter</a>
            </li>
            {% endif %}

            </ul>
        </div>
        </nav>
    
        {% block body %}{% endblock %}

        {% block javascripts %}
        {% endblock %}
    </body>
</html>