{% extends 'base.html.twig' %}

{% block body %}

    
<div class="container mt-4">
    <h1>Nos e-liquides</h1>

    <div class="conteneur">
        {% for liquid in liquids %}
    
        <div class="block">
            <div class="col mt-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <img width="200" src="{{ liquid.image }}"/>
                        <h5 class="card-title mt-2">
                            <a href="{{ path('show_liquid', { id: liquid.id }) }}">
                                {{ liquid.name }}
                            </a>
                        </h5>
                        <p class="card-text">
                            Saveur : {{ liquid.flavor }}
                        </p>
                        <p class="card-text">
                            Catégorie : {{ liquid.category.name }}
                        </p>
                        <p class="card-text">
                            Marque : {{ liquid.mark.name }}
                        </p>
                        <div class="text-primary">
                            {{ liquid.price }} €
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    {% endfor %}
    </div>

    <div class="pagination">
        {{ knp_pagination_render(liquids) }}
    </div>
</div>
{% endblock %}
