{% extends 'base.html.twig' %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    <div class="conteneur">
        <a href="{{ path('new_mark') }}" class="btn btn-primary">Ajouter une nouvelle marque</a>
        <a href="{{ path('admin') }}" class="btn btn-secondary">Voir les e-liquides</a>
        <a href="{{ path('admin_categories') }}" class="btn btn-secondary">Voir les catégories</a>
    </div>
    

    <table class="table table-striped mt-4">
        <thead>
            <tr>
                <th>Marque</th>
                <th>E-Liquides</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            

            {% for item in items  %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td width="33%">
                        {% set count = 0 %}
                        {% for liquid in item.liquids %}
                            {% set count = count + 1 %}
                        {% endfor %}
                        {{ count }}
                        {% set count = 0 %}
                    </td>
                    <td>
                        <a href="{{ path('edit_mark', { id : item.id }) }}" class="btn btn-primary">Editer</a>  
                        <a href="{{ path('delete_mark', { id : item.id }) }}" class="btn btn-danger">Supprimer</a> 
                     </td>
                </tr>

            {% endfor %}
    
        
        </tbody>
    </table>

        <div class="pagination">
            {{ knp_pagination_render(items) }}
        </div>

</div>
{% endblock %}
